<!DOCTYPE html>
<body>
    <fieldset>
    <legend>qui sommes nous</legend>
 Aujourd'hui, nous constatons une grande diffusion des sports, en particulier le football, qui est devenu la passion des garçons et des filles,
 Afin de réduire la  surpopulation qui règne dans les stades, dans un souci d'ordre et pour la commodité de l'utilisateur, nous sommes en train de créé notre site web qui permettera l’utilisateur de choisir le type de sport (football, handball....) ainsi il peut voir les date des match de chaque équipe et aussi il peut réserver une ticket pour le partie .dés que le stock des tickets est terminé ,l'utilisateur se contente de consulter le score de match.
    
</fieldset>
</body>